<!-- HTML Template -->
<div style="height:80px"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8"></div>
        <div id="arduino-home-date-range-picker" class="col-md-4"></div>
    </div>
    <div class="row">
        <div id="dht-temperature-multi-series-line-chart" class="col-md-8"></div>
        <div id="dht-humidity-multi-series-line-chart" class="col-md-8"></div>
        <div id="cd5-light-intensity-multi-series-line-chart" class="col-md-8"></div>
    </div>
</div>
<div class="clearfix" style="height:80px"></div>